Flask
psycopg2-binary
Flask-WTF
gunicorn
pandas
numpy
SQLAlchemy
Flask-SQLAlchemy
python-dotenv
chardet
flask-login
werkzeug
openpyxl
pymysql
python-dotenv
jwt
flask-cors
sqlalchemy
pyjwt
pandas
python-dotenv
gunicorn
pytest
pytest-cov